<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="font-size:12px;">
        Thank you for showing your interest  in  our website.
        All you need to do is click the button below (it only takes a few seconds).
        You won’t be asked to log in to your account – we're simply verifying ownership of this email address.
        <hr>
        <div>
            <h4>Credentials</h4>
            <p>UserName : {2}</p>
            <p>Password : {4}</p>
        </div>
        <center>
        
            <button type="button" class="btn" title="Confirm Account Registration" style=" color: #4e32a8; border-color: #4e32a8; background: white;">
                <a href="{6}" style="font-size:22px; padding: 10px;color: #4e32a8">
                    Confirm Email Now
                </a>
            </button>

        </center>
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
